body {
  font-family: "Roboto", sans-serif;
}
/* Common styles */
.hidden{
  display: none !important;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 400px;
  padding: 30px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.form_field {
  margin-bottom: 28px;
}

.form_field label {
  display: block;
}

.form_field input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
}

.form_button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-size: 150%;
  background-color: magenta;
  border-radius: 5px;
  cursor: pointer;
}
.message {
  text-align: center;
}
.error {
  color: red;
}

.success {
  color: magenta;
}
.userDetail {
  margin-bottom: 20px;
}

.userDetail label {
  font-weight: bold;
}

.userDetail div {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 3px;
}

.profilePicture {
  display: flex;
  align-items: center;
}

.profilePicture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid magenta;
}
#profilePictureInput {
  display: none;
}

/* Style the custom button to look like a file input */
.customButton {
  background-color: magenta;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.customButton:hover {
  background-color: darkmagenta;
}