.data_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .data_form {
    width: 400px;
    padding: 30px;
    background-color: #eeeeee;
    border-radius: 5px;
  }
  
  .data_field {
    margin-bottom: 28px;
  }
    
  .change_form_button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 150%;
    background-color: magenta;
    border-radius: 5px;
    cursor: pointer;
  }