<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nutzerdaten</title>
  <link rel="stylesheet" href="userData.css">
  <script src="userData.js"></script>
</head>
<body>
  <div class="login_container">
    <form v-if="!loggedIn" @submit.prevent="login" class="login_form">
      <div class="login_form_field">
      <div class="userDataContainer" id='userInfromation'>
        <div class="userData">
          <div id="name"></div>
          <div id="email"></div>
          <div id="street"></div>
          <div id="town"></div>
        </div>
        <div v-else class="noLogIn" id="noLogIn" >
          <div>Um Daten zu sehen bitte einloggen.</div>  
        </div>
      </div>
      <button type="submit" class="login_form_button">Login</button>
      <p v-if="loginError" class="error_message">Incorrect email or password.</p>
    </form>

    <div v-if="loggedIn" class="success_message"> 
      <p class="success_message_text">
        Login erfolgreich! Willkommen, {{ loggedInEmail }}.
      </p>
      <button v-on:click="logout" id="logout" class="login_form_button">Logout</button>
    </div>
  </div>
</body>
</html>